#main-content{
    margin-left: 10%;
    margin-right: 10%;
}

#left-arrow-content{
    float: left;
}
#left-arrow-content img{
    width: 200px;
}

#right-arrow-content{
    float: right;
}

#player-information-content{
    width: 750px;
    height: 550px;
}

#profile-name{
    width: 450px;
    height: 150px;
}

#profile-description{
    width: 450px;
    height: 400px;
}

#profile-picture{
    width: 300px;
    height: 550px;
}