.arrows img {
  transition: all 0.25s;
  filter: grayscale(100%);
  opacity: 0.5;
  width: 50px;
  cursor: pointer;
}

.arrows img:hover {
  filter: none;
}

.arrows {
  position: absolute;
}

#left-arrow {
  left: 0%;
  top: 35%;
}

#right-arrow {
  right: 0%;
  top: 35%;
}

#main-content {
  position: relative;
  width: 80%;
  height: 83vh;
  margin: auto;
}

#profileInfo {
  position: relative;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(247, 244, 230, 0.35);
  -moz-box-shadow: 0px 0px 30px 0px rgba(247, 244, 230, 0.35);
  box-shadow: 0px 0px 30px 0px rgba(247, 244, 230, 0.35);
  font-family: 'Overpass Mono', monospace;
  font-weight: 300;
  background-image: url('../img/filesBg.jpg');
  background-position: center;
  background-size: cover;
  margin-top: 2.5%;
  width: 85%;
  color: #181818;
  margin: auto;
  padding: 3.5%;
  height: 80%;
}

#profileInfo p{
  margin-bottom: 10px;
  font-weight: 500;
}
#profileInfo span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-bottom: 1px solid rgba(88, 58, 25, 0.5);
  font-weight: 300;
}
#stamp{
  background-image: url("../img/fileStamp.png");
  min-height: 250px;
  min-width: 250px;
  position: absolute;
  bottom: 0%;
  right: 0%;
  opacity: 0.35;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#profilePic {
  max-width: 100%;
  min-height: 50%;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.tabs {
  position: absolute;
  bottom: 1.5%;
  width: 100%;
}

.tabs span {
  width: 9.75%;
  padding: 1rem;
  display: inline-block;
  text-align: center;
  transition: all 0.25s;
  cursor: pointer;
  color: #6a85c0;
  text-shadow: 0 0 25px #f7f4e6;
}

.tabs span:hover {
  color: white;
  text-shadow: none;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .arrows img {
    width: 25px;
  }
  .tabs span {
    padding: 0.5rem;
    width: 15%;
  }
  #main-content {
    height: 77.5%;
  }
  #profileInfo p{
    font-size: 0.9rem;
  }
  #profileInfo h1{
    font-size: 1.75rem;
  }
  #stamp{
    min-width: 175px;
    min-height: 175px;
  }
}
