
.arrows img{
    transition: all 0.25s;
    filter: grayscale(100%);
    opacity: 0.5;
    width: 50px;
    cursor: pointer;
}
.arrows img:hover{
  filter: none;
}
.arrows{
  position: absolute;
}
#left-arrow{
    left: 0%;
    top: 35%;
}
#right-arrow{
    right: 0%;
    top: 35%;
}

#main-content{
  position: relative;
  width: 80%;
  height: 83vh;
  margin: auto;
}
#profilePic, #profileInfo{
  margin-top: 5%;
  display: inline-block;
  vertical-align: top;
}
#profileInfo{
  color: white;
  margin-left: 7.5%;
  width: 46%;
  height: 80%;
}
#profilePic{
  margin-right: 7.5%;
  margin-left: 3.5%;
  width: 35%;
  height: 80%;
  text-align: center;
}
#profilePic img{
  max-width: 100%;
  max-height: 100%;
}
.tabs{
  position: absolute;
  bottom: 1.5%;
  width: 100%;
}
.tabs span{
  width: 9.75%;
  padding: 1rem;
  display: inline-block;
  text-align: center;
  transition: all 0.25s;
  cursor: pointer;
  border: 1px solid transparent;
  color: #6a85c0;
}
.tabs span:hover{
  color: #449048;
  border-color: #449048;
}

@media (min-width: 1024px) and (max-width: 1550px){
    .arrows img{
      width: 25px;
    }
    #profilePic, #profileInfo{
      height: 65%;
    }
    .tabs span{
      padding: 0.5rem;
      width: 15%;
    }
    #main-content{
      height: 80%;
    }
    #profile-info{
      font-size: 1rem;
    }
    #profile-name{
      font-size: 1.75rem;
    }
}
