*{
  transition: opacity 0.5s;
}
body{
  width: 100%;
  margin: 0%;
  overflow: hidden;
}
#bideo{
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index:-1;
}
#bideoContainer{
  z-index: 5;
  overflow: hidden;
  width: 100%;
  margin: 0%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hoverSound{
  z-index: -50;
}
#bideoBg{
  z-index:1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url('../img/poster-bg.jpg');
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px -50px 95px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px -50px 95px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px -50px 95px 0px rgba(0, 0, 0, 1);
}
.far{
  cursor: pointer;
}
#buttonPic{
  font-weight: 200;
  letter-spacing: 0.5rem;
  opacity: 0;
  transition: opacity 0.25s;
  font-size: 5rem;
  cursor: pointer;
  z-index: 100;
  margin-top: -2.5%;
}
#buttonPic span, #buttonPic i{
  vertical-align: middle;
}
#buttonClose{
  opacity: 0;
  z-index: 0;
  font-size: 2.5rem;
  position: absolute;
  top: 7.5%;
  right: 7.5%;
}

#bottom-navbar{
  z-index: 100;
  position: absolute;
  bottom: -15%;
  height: 10vh;
  width: 100%;
  background: #000000;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 25%,rgba(0,0,0,1));
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5) 25%,rgba(0,0,0,1));
}

#bottom-navbar ul {
    list-style-type: none;
    margin: auto;
    width: 80%;
    padding: 0%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100%;
}

#bottom-navbar ul li {
    cursor: pointer;
    transition: all 0.35s;
    width: auto;
    float: left;
    height: 100%;
    text-align: center;
}

#bottom-navbar ul li a {
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    padding: 1.25rem;
    color: white;
    display: inline-flex;
    align-items:  flex-end;
    height: 100%;
    text-decoration: none;
}

#bottom-navbar ul li:hover a{
    color: #6a85c0;
}
#top-navbar{
    margin: 1.5% auto 0% auto;
    width: 80%;
}
#mainNav{
  z-index: 25;
}
#top-navbar{
  width: 100%;
  position: absolute;
  top: -15%;
  z-index: 10;
}
#top-navbar ul {
    width: 80%;
    margin: auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
#top-navbar ul li {
    float: left;
    vertical-align: middle;
}
#top-navbar ul li p {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

@keyframes slideDown {
    0% {
      top: -15%;
    }
    100% {
      top: -0%;
    }
}
@keyframes slideUp {
    0% {
      bottom: -15%;
    }
    100% {
      bottom: -0%;
    }
}
.slideUp{
 -webkit-animation: 1.75s slideUp ease-in-out forwards;
 animation: 1.75s slideUp ease-in-out forwards;
}
.slideDown{
 -webkit-animation: 1.75s slideDown ease-in-out forwards;
 animation: 1.75s slideDown ease-in-out forwards;
}

.logo{
  width: 75px;
  height: 75px;
}
/* responsive stuff */
@media (min-width: 1024px) and (max-width: 1550px){
  #bottom-navbar ul li a {
    font-size: 1rem;
  }
  #buttonPic{
    font-size: 3rem;
  }
  .logo{
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 600px){
  .logo{
    width: 30px;
    height: 30px;
  }
  #top-navbar{
    margin-top: 10px;
  }
  #top-navbar ul li p{
    padding: 7.5px 0;
    font-size: 0.75rem;
  }
  #bottom-navbar{
    height: 50px;
  }
  #bottom-navbar ul{
    display: block;
  }
  #bottom-navbar ul li{
    width: 100%;
  }
  #bottom-navbar ul li a{
    padding: 7.5px 0;
    font-size: 0.9rem
  }
  #buttonPic{
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
  }
  #smallMenu{
    padding-bottom: 12.5px!important;
  }
}
@media (min-width: 1024px) and (max-width: 1550px){
  #bottom-navbar ul li a {
    font-size: 1rem;
  }
  #buttonPic{
    font-size: 3rem;
  }
  .logo{
    width: 50px;
    height: 50px;
  }
}
