input{
  display: block;
  margin: 5% 0;
  padding: 1.5%;
  width: 100%;
  transition: all 0.25s;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
::-webkit-input-placeholder {
  color: #6a85c0;
}
input[type=text]{
  color: white;
}
input[type=text]:focus{
  border-color: white;
}
#submit{
  margin-top: 7.5%;
  font-weight: 600;
  cursor: pointer;
  color: white;
  border: none;
  letter-spacing: 0.15rem;
  background: #6a85c0;
}
#submit:hover{
  background: #449048
}
