#top-navbar{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    width: 80%;
}

#top-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#top-navbar ul li {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

#top-navbar ul li p {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top-navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#top-navbar ul li a:hover:not(.active) {
    background-color: rgba(255,255,255,0.1);
}

#main-content{
    margin-left: 10%;
    margin-right: 10%;
}
@media (min-width: 1024px) and (max-width: 1550px) {
  #top-navbar ul li a{
    font-size: 0.9rem;
  }
}
