#top-navbar{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    width: 80%;
}

#top-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#top-navbar ul li {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

.navText{
    padding-top: 30px;
}

#top-navbar ul li a div{
    transition: all 0.25s;
    color: #e8f3e4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:table-cell;
    vertical-align : middle;
}
#top-navbar ul li a div:hover{
  color: #449048;
}

#main-content{
    margin-left: 10%;
    margin-right: 10%;
}
@media (min-width: 1024px) and (max-width: 1550px) {
  #top-navbar ul li a{
    font-size: 0.9rem;
  }
}
.logo:hover{
  opacity: 1;
}
.logo{
  opacity: 0.9;
  width: 75px;
  height: 75px;
}
