.masthead{
  background-image: url(../img/town-bg.jpg);
  background-attachment: fixed;
  background-position: bottom;
  font-weight: 300!important;
  margin: 0%!important;
  height: 65vh;
}
.masthead h3, .masthead h1{
  margin: 0%!important;
}
.masthead h1{
  letter-spacing: 0.5rem;
}
.nav-item a{
  padding-left: 0.75em!important;
  padding-right: 0.75em!important;
}
.nav-item a:hover{
  background-color: rgba(53, 166, 160, 0.25)!important;
}
